body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: #888;
    text-underline-offset: 2px;
    /* tab-size: 160;
    -moz-tab-size: 160; */
}
.spaced-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
}
.top-navbar {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    margin: 10px;
    width: 220px;
    height: 22px;
}
.top-navbar a {
    align-self: flex-start;
}
#menu-icon {
    width: 18px;
    height: 18px;
    padding: 2px;
}
#user-icon {
    width: 30px;
    height: 30px;
    padding: 0px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.nav-link a, .nav-link a:visited {
    color: #888;
}
.top-navbar a, .top-navbar a:visited {
    color: #444;
}
.more-link a, .more-link a:visited {
    color: #21a;
}
.google-search {
    position: relative;
    width: 60vw;
    height: 30vh;
    margin: 25vh auto;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: center;
    grid-template-areas: 
        ". logo logo ."
        "search search search search"
        ". results results ."
        "more more more more";
}
.spaced-text {
    tab-size: 20;
}
#searchbar {
    width: 600px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #eee;
    font-size: 15px;
    padding-left: 45px;
    padding-right: 45px;
    background-image: url("../images/search-icon-a.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 15px center;
}
#searchbar::content {
    background-image: url("../images/mic-icon.png");
}
#searchbar:hover {
    border-color: transparent;
    box-shadow: 0px 0px 10px 1px #bbb;
}
#searchbar:focus-within {
    outline: none;
}
.google-search div {
    justify-self: center;
    align-self: stretch;
}
.google-button {
    height: 35px;
    width: 150px;
    background-color: #fafafc;
    border-width: 0;
    border-radius: 5px;
    border: 0px solid black
}
.google-button:hover {
    border: 1px solid #eee;
    box-shadow: 0px 0px 5px 1px #eee;
}
.logo {
    grid-area: logo;
}
.search {
    grid-area: search;
}
.results {
    grid-area: results;
    justify-self: stretch;
    width: 350px;
}
.more {
    grid-area: more;
    font-size: small;
    width: 350px;
}
footer {
    width: 100vw;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
#location {
    width: 100vw;
    height: auto;
    padding: 10px;
    padding-left: 25px;
    position: left;
    border: 1px solid #e0e2e5;
    justify-self: left;
    align-self: flex-start;
}
.right {
    float: right;
    width: 250px;
}
.left {
    float: left;
    width: 400px;
}
@media (max-width: 750px) {
    .right, left {
        float: none;
        width: 250px;
        margin: 2px;
    }
    .right {
        margin-left: 75px;
    }
    footer {
        align-items: center;
    }
}
@media (max-width: 900px) {
    #searchbar {
        width: 70vw;
    }
}