:root {
    --asize: 04px;
    --ssize: 09px;
    --msize: 18px;
    --bsize: 27px;
    --zsize: 60px;
    --dwcolor: #EEE;
    --lgcolor: #BBB;
    --mgcolor: #888;
    --dgcolor: #444;
    --dbcolor: #21A;
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: var(--mgcolor);
    text-underline-offset: 2px;
}
.spaced-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: var(--ssize) var(--msize);
}
.top-navbar {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    margin: 10px;
    width: 220px;
    height: 22px;
}
#menu-icon {
    width: var(--msize);
    height: var(--msize);
    padding: 2px;
}
#user-icon {
    width: var(--bsize);
    height: var(--bsize);
    padding: 3px;
}
a {
    align-self: flex-start;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.nav-link a, .nav-link a:visited {
    color: var(--mgcolor);
}
.top-navbar a, .top-navbar a:visited {
    color: var(--dgcolor);
}
.search-area {
    position: relative;
    width: 60vw;
    height: 30vh;
    margin: 30vh auto;
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-gap: var(--ssize);
    grid-template-areas: 
        ". logo logo ."
        "search search search search"
        ". button button ."
        ". more more .";
    justify-items: center;
    align-items: stretch;
}
.logo {
    grid-area: logo;
    height: 80px;
}
.search {
    grid-area: search;
    width: 450px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid #dfe1e5;
    font-size: var(--msize);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search:hover, .search:focus-within {
    border-color: transparent;
    outline: none;
    box-shadow: 0px 0px 9px 4px #dfe1e5;
}
.icon-a {
    height: 14px;
    padding: var(--asize) var(--asize);
}
.icon-b {
    height: var(--bsize);
    padding: var(--asize);
}
.button {
    grid-area: button;
    justify-self: center;
    width: 350px;
}
.search-button {
    height: 35px;
    width: 150px;
    background-color: #f8f9fa;
    border-width: 0;
    border-radius: 5px;
    border: 0px solid black;
}
.search-button:hover {
    border: 1px solid var(--dwcolor);
    box-shadow: 0px 0px 10px 1px var(--dwcolor);
}
.more {
    grid-area: more;
    font-size: small;
    width: 400px;
    align-items: stretch;
}
.more a, .more a:visited {
    color: var(--dbcolor);
}
footer {
    width: 100vw;
    background-color: var(--dwcolor);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
#location {
    width: 100vw;
    height: auto;
    padding: var(--ssize);
    padding-left: var(--bsize);
    position: left;
    border: 1px solid #e0e2e5;
    align-self: flex-start;
}
.right {
    float: right;
    width: 200px;
}
.left {
    float: left;
    width: 350px;
}
@media (max-width: 750px) {
    .right, left {
        float: none;
        width: 250px;
        margin: 2px;
    }
    .right {
        margin-left: 75px;
    }
    footer {
        align-items: center;
    }
}
@media (max-width: 900px) {
    #searchbar {
        width: 70vw;
    }
}